

.text-bg {
    line-height: 1.25em;
    background-color: rgba(256, 256, 256, 0.70);
    padding: 10px 0px !important;
    border-radius: 10px; 
}

.dark-bg {
line-height: 1.25em;
background-color: rgba(256, 256, 256, 0.40);
padding: 10px 5px !important;
border-radius: 10px;
}